<div class="container">

  <div class="starter-template">
    <img src="https://s3.ap-northeast-2.amazonaws.com/projectyolo/img/0002693_yolo_you_only_live_once_greenblack.png" width="100%" />
  </div>

</div>


